<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VideoRoom</title>

    <link rel="stylesheet" href="/css/custom.css">    
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <!-- <script type="text/javascript" src="src/js/bootstrap.min.js"></script> -->
</head>
<header>
    <div class="logo">
        <img src="/img/로고.png">
        <img class="quest" src="/img/물음표.png">
    </div>
</header>

<body bgcolor="#353535">
    <table class="mainTable" border="1">
        <th style="width: 80%;">
            <!-- iframe -->
            <div id="player"></div>
        </th>
        <th>
            <div calss="chatRoom">
                <section class="chatbox">
                    <section class="chat-window">
                        <!-- 리스트 목록 -->
                    </section>

                    <form class="chat-input" onsubmit="return false;">
                        <input type="text" autocomplete="on" placeholder="Type a message" />
                        <button>
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="rgba(0,0,0,.38)"
                                    d="M17,12L12,17V14H8V10H12V7L17,12M21,16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V7.5C3,7.12 3.21,6.79 3.53,6.62L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.79,6.79 21,7.12 21,7.5V16.5M12,4.15L5,8.09V15.91L12,19.85L19,15.91V8.09L12,4.15Z" />
                            </svg>
                        </button>
                    </form>

                </section>
            </div>
        </th>
    </table>    
    <!-- <h2 id="HChat">채팅방이름</h2> -->
    <!-- <form id="form">
        <input type="text" id="ChatInput" autocomplete="off"/>
        <input type="button" id="ChatSend" value="보냄"/>
    </form> -->
    <!-- <div id="ChatBoard"></div> -->
</body>
<script src="https://www.youtube.com/iframe_api"></script>
<script>
    var lastTimeUpdate = 0;
    var room = 'onggo';
    
    window.onload = function(){
	// API 코드가 다운로드된 후 <iframe>(및 YouTube 플레이어)을 생성
        var player;
    // function onYouTubeIframeAPIReady(url) {
    //     console.log('3')
    //     if(!url) {
    //         url = 'j6mgZX8_hhk';
    //     }
    console.log('1')
        player = new YT.Player('player', {
            height: '100%',
            width: '100%',
            videoId: 'j6mgZX8_hhk',
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    // }
    console.log('2')
    // 비디오 플레이어가 준비되면 API가 이 기능을 호출
    function onPlayerReady(event) {
        console.log('4')
        event.target.playVideo();

        // 플레이어 iframe 엘리먼트 가져옴
        var iframeWindow = player.getIframe().contentWindow;
        // 새 업데이트와 비교할 변수 생성
        lastTimeUpdate = 0;

        // postMessage로 트리거된 이벤트를 청취
        window.addEventListener("message", function (event) {
            // 이벤트가 YouTube iframe에서 전송되었는지 확인
            if (event.source === iframeWindow) {
                var data = JSON.parse(event.data);

                // "infoDelivery" 이벤트는 YT가 다음을 전송할때 사용
                // 플레이어의 정보 변화 종류, 현재 시간 또는 재생 품질 변경과 같은 항목
                if (data.event === "infoDelivery" && data.info && data.info.currentTime) {
                    var time = Math.floor(data.info.currentTime);

                    if (time !== lastTimeUpdate) { // 마지막업데이트 시간과 현재 시간이 다르면
                        // socket.emit("liveKeyFrame", time);
                        if(Math.floor(time - lastTimeUpdate) > 1 || Math.floor(time - lastTimeUpdate) < -1) { // 현재시간 - 마지막 업데이트 시간이 1초보다 크거나 -1초보다 작으면
                            lastTimeUpdate = time;
                            console.log(time);
                        } else {
                            lastTimeUpdate = time;
                        }
                    }
                }
            }
        });        
    }
    
    // 플레이어의 상태가 바뀌면 API가 이 함수를 호출    
    function onPlayerStateChange(event) {
        console.log('5')
        if (event.data == YT.PlayerState.PLAYING) {
            console.log('playing');
        }
        if (event.data == YT.PlayerState.ENDED) {
            console.log('end');
            player.loadVideoById('q0CX-0k2l0g');
        }
        if (event.data == YT.PlayerState.PAUSED) {
            console.log('pause');
        }
        if (event.data == YT.PlayerState.BUFFERING) {
            // socket.emit('sendBuffer', lastTimeUpdate, room);
            console.log('buffer');
        }
        if (event.data == YT.PlayerState.CUED) {
            console.log('cue');
        }
    }
    
    console.log('6')
    function stopVideo() {  
        if(player.stopVideo) player.stopVideo();
    }
    console.log('7')    
    function startVideo(url) {
        if(player.loadVideoById) {
            player.loadVideoById('q0CX-0k2l0g');
        }
        // socket.emit('sendVideoUrl', url);
    }    
    function addVideoList() {

    }
    console.log('8')
    // 해당 키프레임으로 이동
    function seekTo(keyframe) {
        if(player.loadVideoById) player.seekTo(keyframe);
    }
    
    const socket = io();
        console.log('10')
        socket.emit('joinRoom', room);

        socket.on('joinResult', function(roomInfo) {
            console.log(roomInfo.roomName+'방 접속');
            stopVideo();
            seekTo(roomInfo.keyFrame);
        });

        socket.on('getVideoInfo', function(videoInfo) {
            player.loadVideoById(videoInfo.url);
        });

        socket.on('getVideoTime', function(videoInfo) {
            seekTo(videoInfo.keyFrame);
        });        
    }

    // iframe player api코드를 비동기로 로드
    // var tag = document.createElement('script');    
    // tag.src = "https://www.youtube.com/iframe_api";
    // var firstScriptTag = document.getElementsByTagName('script')[0];
    // firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    
    
</script>

</html>